:root.theme-light {
  --color-bg: #fff1f7;
  --color-text-main: #353430;
  --decorated-color: #353430;
  --color-accent: #ff8dcb;
  --color-title: #ffc2e6;
  --color-card-text: #353430;
  --bg-image: url("../images/cover-image-light.png");
  --bg-button-hover: #32312d66;
  --color-content-title: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff1f7;
    --color-text-main: #353430;
    --decorated-color: #353430;
    --color-accent: #ff8dcb;
    --color-title: #ffc2e6;
    --color-card-text: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --bg-button-hover: #32312d66;
    --color-content-title: #353430;
  }

  .header__rec {
    display: none;
  }
}
